<nav class="bg_red">
    <div class="container nav-wrap">
        <div class="logo"><a href="index.html"><img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                    alt="LOGO_white"></a></div>
        <ul class="navbar-nav">
            <li class="navbar-item"><a href="#" class="navbar-link text_white">系列鏡框</a></li>
            <li class="navbar-item"><a href="shop.html" class="navbar-link text_white">門市據點</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link text_white">部落格</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link text_white">常見問題</a> </li>
        </ul>
    </div>
</nav>