<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Week4</title>
    <link rel="stylesheet" href="reset.css">
    <!-- text  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@1,900&display=swap"
        rel="stylesheet">
    <!-- icon  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">

      <h2 class="flex_start pt-96 pb-32"><div class="line mr-16">|</div>門市據點</h2>
      <div class="row_start pb-40">
        <div class="choose">選擇地區</div>
        <select>
          <option>台北市</option>
        </select>
      </div>
      <div class="row wrap pb-56">
        <div class="shop plr-12 mb-24">
          <img class="pic_shop" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="台北中山旗艦店照片">
          <p class="name frame">台北中山旗艦店</p>
          <div class="information frame">
            <div class="shop_call">
              <span class="material-symbols-outlined icon_24">call</span><p class="text_shop">電話：(02)000-1234</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">schedule</span><p class="text_shop">營業時間：10:00-21:00</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">location_on</span><p class="text_shop">地址：台北市中山區南京東路25巷2-1號</p></div>
          </div>
          <a href="#" class="btn text_white">詳細資訊</a>
        </div>
    
        <div class="shop plr-12 mb-24">
          <img class="pic_shop" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true" alt="台北綠園店照片">
          <p class="name frame">台北綠園店</p>
          <div class="information frame">
            <div class="shop_call">
              <span class="material-symbols-outlined icon_24">call</span><p class="text_shop">電話：(02)000-2345</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">schedule</span><p class="text_shop">營業時間：10:00-21:00</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">location_on</span><p class="text_shop">地址：台北市中正區復興南路 132-1 號</p></div>

          </div>
          <a href="#" class="btn text_white">詳細資訊</a>
        </div>
    
        <div class="shop plr-12 mb-24">
          <img class="pic_shop" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true" alt="台中清水旗艦店照片">
          <p class="name frame">台中清水旗艦店</p>
          <div class="information frame">
            <div class="shop_call">
              <span class="material-symbols-outlined icon_24">call</span><p class="text_shop">電話：(02)000-1234</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">schedule</span><p class="text_shop">營業時間：10:00-21:00</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">location_on</span><p class="text_shop">地址：台中市清水區經南一路 23 號 8 樓</p></div>

          </div>
          <a href="#" class="btn text_white">詳細資訊</a>
        </div>
    
        <div class="shop plr-12 mb-24">
          <img class="pic_shop" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true" alt="高雄中正形象店照片">
          <p class="name frame">高雄中正形象店</p>
          <div class="information frame">
            <div class="shop_call">
              <span class="material-symbols-outlined icon_24">call</span><p class="text_shop">電話：(07)000-2345</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">schedule</span><p class="text_shop">營業時間：10:00-21:00</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">location_on</span><p class="text_shop">地址：高雄市苓雅區中正路 38 號 12 樓</p></div>

          </div>
          <a href="#" class="btn text_white">詳細資訊</a>
        </div>
    
        <div class="shop plr-12 mb-24">
          <img class="pic_shop" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true" alt="高雄夢時代店照片">
          <p class="name frame">高雄夢時代店</p>
          <div class="information frame">
            <div class="shop_call">
              <span class="material-symbols-outlined icon_24">call</span><p class="text_shop">電話：(07)000-1234</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">schedule</span><p class="text_shop">營業時間：10:00-21:00</p></div>
            <div class="shop_call">
              <span class="material-symbols-sharp icon_24">location_on</span><p class="text_shop">地址：高雄市前鎮區中華一路 63 號 6 樓</p></div>

          </div>
          <a href="#" class="btn text_white">詳細資訊</a>
        </div>
      </div>
    </div>
    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
